----------------------Basic If-Else Statements--------------------------------

1. Write a Python program to check if a given number is positive or negative.

In [5]:
def check(num):
    if num > 0:
        return num, "is Positive"
    elif num <0:
        return num, "is Negative"
    else:
        return "Num is Zero"

In [6]:
check(87)

(87, 'is Positive')

In [7]:
check(0)

'Num is Zero'

In [8]:
check(-7)

(-7, 'is Negative')

2. Create a program that determines if a person is eligible to vote based on their age.

In [15]:
age = int(input("Enter Age of A person"))

Enter Age of A person 98

In [16]:
if age > 18:
    print("person is eligible to vote")
else:
    print("person isnt eligible to vote")

person is eligible to vote

3. Develop a program to find the maximum of two numbers using if-else statements.

In [18]:
def maximum(num1,num2):
    if num1 >num2:
        return num1
    else:
        return num2

In [19]:
maximum(8,4)

8

4. Write a Python script to classify a given year as a leap year or not.

In [ ]:
#A leap year is exactly divisible by 4 except for century years (years ending with 00). 
#The century year is a leap year only if it is perfectly divisible by 400.

In [13]:
years = [1900,2017,2012,2014,1016,2000]

In [17]:
for year in years:
    if (year % 100 ==0 and year % 400== 0):#century year is a leap year
        print(year,"is a Leap Year")
    elif (year % 100 !=0 and year % 4 ==0):#non century year  is a leap year
        print(year, "is a Leap Year")
    else:
        print(year,"is Not a Leap Year")

1900 is Not a Leap Year
2017 is Not a Leap Year
2012 is a Leap Year
2014 is Not a Leap Year
1016 is a Leap Year
2000 is a Leap Year

5. Create a program that checks whether a character is a vowel or a consonant

In [20]:
def check(x):
    if x in "aeiouAEIOU":
        return "It is a Vowel"
    else:
        return "It is a Consonant"

In [21]:
check("a")

'It is a Vowel'

In [23]:
check("T")

'It is a Consonant'

In [24]:
check("O")

'It is a Vowel'

6. Implement a program to determine whether a given number is even or odd.

In [26]:
def even_odd(num):
    if num %2 == 0:
        return num, "is even"
    else:
        return num, "is Odd"

In [27]:
even_odd(-19)

(-19, 'is Odd')

In [28]:
even_odd(8)

(8, 'is even')

7. Write a Python function to calculate the absolute value of a number without using the `abs()` function.

In [81]:
def absolute_value(num):
    """This function returns the absolute
    value of the entered number"""

    if num >= 0:
        return num
    else:
        return -num

# Test the function with positive, negative, and zero values
print(absolute_value(10))  
print(absolute_value(-20))  
print(absolute_value(0))

10
20
0

In [87]:
def absolute_value(num):
    if num >=0:
        return num
    else:
        return -num

In [89]:
absolute_value(-9)

9

In [90]:
absolute_value(-0.56)

0.56

In [93]:
absolute_value(9)

9

8. Develop a program that determines the largest of three given numbers using if-else statements.

In [47]:
list3 = [10,60,5]

if ((list3[0] > list3[1]) and (list3[0] > list3[2])):
    print(list3[0], "is the largest")

elif ((list3[1] > list3[0]) and (list3[1] > list3[2])):
    print(list3[1], "is the largest")

else:
    print(list3[2], "is the largest")

60 is the largest

9. Create a program that checks if a given string is a palindrome.

In [56]:
def palindrome(strings):
    if strings == strings[::-1]:
        return strings,"is Palindrome"
    else:
        return strings,"isnt Palindrome"

In [57]:
palindrome("madam")

('madam', 'is Palindrome')

In [58]:
palindrome("data")

('data', 'isnt Palindrome')

10. Write a Python program to calculate the grade based on a student's score.

91 to 100   A
81 to 90	B
71 to 80	C
61 to 70	D
Below 60	E

In [155]:
def grade(marks):
    if 90 < marks <=100:
        print("Marks received is:",marks,"Grade received is A")
    elif (marks >= 80 and marks<90):
        print("Marks received is:",marks,"Grade received is B")
    elif (marks >= 70 and marks<80):
        print("Marks received is:",marks,"Grade received is C")
    elif (marks >= 60 and marks<70):
        print("Marks received is:",marks,"Grade received is D")
    elif (marks<60):
        print("Marks received is:",marks,"Grade received is E")
    else:
        print(marks,":invalid marks!!!")

In [156]:
for i in [100,78,23,65,112,55,83]:
    grade(i)

Marks received is: 100 Grade received is A
Marks received is: 78 Grade received is C
Marks received is: 23 Grade received is E
Marks received is: 65 Grade received is D
112 :invalid marks!!!
Marks received is: 55 Grade received is E
Marks received is: 83 Grade received is B

In [78]:
grade(90)

90 Grade received is A

-------------------------------Nested If-Else Statements:-------------------

11. Write a program to find the largest among three numbers using nested if-else statements.

In [34]:
def largest(a,b,c):
    if (a> b and a>c):
        print(a,"is largest")
    elif(b>a and b>c):
        print(b,"is largest")
    else:
        print(c,"is largest")

In [35]:
largest(5,6,7)

7 is largest

In [36]:
largest(10,20,8)

20 is largest

In [37]:
largest(4,3,2)

4 is largest


12. Implement a program to determine if a triangle is equilateral, isosceles, or scalene.

In [29]:
def triange(a,b,c):
    if (a==b==c):
        print("Equilaterial")
    elif(a==b or b==c or c==a):
        print("Isosceles")
    else:
        print("Scalene")

In [30]:
triange(10,10,4)

Isosceles

In [31]:
triange(2,4,6)

Scalene

In [32]:
triange(5,5,5)

Equilaterial

13. Develop a program that checks if a year is a leap year and also if it is a century year.

for century year  ---> yr%100 and yr%400
non century year --> y%100 !=0 and yr%4 ==0

In [43]:
years= [1700, 2000,2024,800,1800,1900]

In [44]:
for year in years:
    if year%4 ==0 and year%100 != 0:
        print(year,"It is a Leap Year but not a Century year")
    elif year%100 ==0 and year%400 ==0 :
        print(year,"It is a Leap year and century year")
    else:
        print(year,"It is not a leap year")

1700 It is not a leap year
2000 It is a Leap year and century year
2024 It is a Leap Year but not a Century year
800 It is a Leap year and century year
1800 It is not a leap year
1900 It is not a leap year

14. Write a Python script to determine if a number is positive, negative, or zero.

In [5]:
num = float(input())

if num >= 0:
    if num ==0 :
        print("It is a Zero")
    else:
        print("It is a Positive Number")
else:
    print("It is a Negative Number")

-990
It is a Negative Number

15. Create a program to check if a person is a teenager (between 13 and 19 years old).

In [50]:
ages =[20,16,8]

In [51]:
for age in ages:
    if age <=19:
        if age >=13:
            print(age,"It is a teenage")
        else:
            print(age,"It is a Kid below 13 years")
    else:
        print(age,"It is an Adult above 19 years")

20 It is an Adult above 19 years
16 It is a teenage
8 It is a Kid below 13 years

16. Develop a program that determines the type of angle based on its measure (acute, obtuse, or right).

acute <90
obtuse >90
right = 90

In [58]:
def triangle(angle):
    if angle < 90:
        print("Acute Angle")
    elif angle == 90:
        print("Right Angle")
    else:
        print("Obtuse Angle")

In [59]:
triangle(90)

Right Angle

In [60]:
triangle(50)

Acute Angle

In [61]:
triangle(100)

Obtuse Angle

17. Write a Python program to calculate the roots of a quadratic equation.

roots = sqrt(b**2- 4*a*c)
ax2 + bx + c = 0
where,
a, b, and c are coefficient and real numbers and also a ≠ 0.

18. Implement a program to determine the day of the week based on a user-provided number (1 for Monday, 2
for Tuesday, etc.).

In [11]:
def day_of_the_week(day):
    if day == 1:
        print("Monday")
    elif day == 2:
        print("Tuesday")
    elif day == 3:
        print("Wednesday")
    elif day == 4:
        print("Thursday")
    elif day == 5:
        print("Friday")
    elif day == 6:
        print("Saturday")
    elif day == 7:
        print("Sunday")
    else:
        print("Invalid day")

In [12]:
day_of_the_week(9)

Invalid day

In [13]:
day_of_the_week(6)

Saturday

19. Create a program that determines if a year is a leap year and also if it is evenly divisible by 400.

a year that is evenly divisible by 100 (for example, 1900) is a leap year only if it is also evenly divisible by 400.

not leap years: 1700, 1800, 1900, 2100, 2200, 2300, 2500, 2600

The following years are leap years: 1600, 2000, 2400 --> evenly divisible by both 100 and 400.

if((Year % 400 == 0) or (Year % 100 != 0) and  (Year % 4 == 0)):

In [62]:
years

[1700, 2000, 2024, 800, 1800, 1900]

In [74]:
for year in years:
    if (year%400 ==0 or year%100 !=0 and year%4 ==0):
        print(year,"leap year")
    else:
        print(year, "not leap year")

1700 not leap year
2000 leap year
2024 leap year
800 leap year
1800 not leap year
1900 not leap year


20. Develop a program that checks if a given number is prime or not using nested if-else statements.

In [142]:
prime=[]

for i in range(2,20):
    for j in range(2,20):
        if i%j ==0:
            #print(i,j)
            break
    if i==j:
        prime.append(j)
        print(i, "is a prime number")
    else:
        print(i, "not a prime number")
print("list of prime numbers",prime)

2 is a prime number
3 is a prime number
4 not a prime number
5 is a prime number
6 not a prime number
7 is a prime number
8 not a prime number
9 not a prime number
10 not a prime number
11 is a prime number
12 not a prime number
13 is a prime number
14 not a prime number
15 not a prime number
16 not a prime number
17 is a prime number
18 not a prime number
19 is a prime number
list of prime numbers [2, 3, 5, 7, 11, 13, 17, 19]

# -----------------------Elif Statement-----------------------------------

21. Write a Python program to assign grades based on different ranges of scores using elif statements.

91 to 100   A
81 to 90	B
71 to 80	C
61 to 70	D
Below 60	E

In [158]:
def grade(marks):
    if 90 < marks <=100:
        print("Marks received is:",marks,"Grade received is A")
    elif (81<= marks<=90):
        print("Marks received is:",marks,"Grade received is B")
    elif (71<= marks<=80):
        print("Marks received is:",marks,"Grade received is C")
    elif (61<= marks<=70):
        print("Marks received is:",marks,"Grade received is D")
    elif (marks<60):
        print("Marks received is:",marks,"Grade received is E")
    else:
        print(marks,":invalid marks!!!")

In [159]:
mark =[71,61,100,70,36,108,84]
for marks in mark:
    grade(marks)

Marks received is: 71 Grade received is C
Marks received is: 61 Grade received is D
Marks received is: 100 Grade received is A
Marks received is: 70 Grade received is D
Marks received is: 36 Grade received is E
108 :invalid marks!!!
Marks received is: 84 Grade received is B

22. Implement a program to determine the type of a triangle based on its angles.

In [ ]:
eq --> a = b= c
iso --> a=b, c
scalene -->a,b,c

In [171]:
def triangle(a,b,c):
    if (a+b+c == 180):
        if (a==b==c):
            print("Equilaterial")
        elif(a==b or b==c or c==a):
            print("Isosceles")
        else:
            print("Scalene")
    else:
        print("Invalid angles")

In [172]:
triangle(60,8,8)

Invalid angles

In [174]:
triangle(60,90,30)

Scalene

In [175]:
triangle(70,70,40)

Isosceles


23. Develop a program to categorize a given person's BMI into underweight, normal, overweight, or obese using
elif statements.

In [183]:
bmis =[18,20,22,25,28,30,35]

In [184]:
for bmi in bmis:
    if bmi <= 18.5:
        print(bmi,"You are underweight.")
    elif 18.5 < bmi <= 24.9:
        print(bmi,"Your weight is normal.")
    elif 25 <= bmi <= 29.29:
        print(bmi,"You are overweight.")
    else:
        print(bmi,"You are obese.")

18 You are underweight.
20 Your weight is normal.
22 Your weight is normal.
25 You are overweight.
28 You are overweight.
30 You are obese.
35 You are obese.

24. Create a program that determines whether a given number is positive, negative, or zero using elif
statements.

In [186]:
nums= [10,-1,0,-13]

In [188]:
for num in nums:
    if num ==0:
        print(num, "is zero")
    elif num <0:
        print(num, "is negative")
    else:
        print(num,"is positive")

10 is positive
-1 is negative
0 is zero
-13 is negative


25. Write a Python script to determine the type of a character (uppercase, lowercase, or special) using elif
statements.

In [189]:
strings= "hujR^89L/"
for i in strings:
    if i in "abcdefghijklmnopqrstuvwxyz":
        print(i,"is a lower case")
    elif i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
        print(i,"is uppercase")
    elif i in "1234567890":
        print(i, "is a digit")
    else:
        print(i,"is a Special Character")

h is a lower case
u is a lower case
j is a lower case
R is uppercase
^ is a Special Character
8 is a digit
9 is a digit
L is uppercase
/ is a Special Character

In [197]:
strings= "hujR^89L/"
for i in strings:
    if i.isupper():
        print(i, "upper")
    elif i.islower():
        print(i, "lower")
    elif i.isnumeric():
        print(i, "Number")
    else:
        print(i,"special")

h lower
u lower
j lower
R upper
^ special
8 Number
9 Number
L upper
/ special


26. Implement a program to calculate the discounted price based on different purchase amounts using elif
statements.

If purchase>100 -- 10% discount is applied
If purchase>200 -- 20% discount is applied
If purchase>300 -- 30% discount is applied
If purchase>400 -- 40% discount is applied
If purchase>500 -- gift hanper

In [220]:
purchases =[60,100,166,217,378,400]
for purchase in purchases:
    if 50<purchase <= 100:
        dis = purchase-(purchase*0.1)
        print("Purchasing Price is", purchase, "Discount offered is 10%.Discounted Price is", dis)
    elif purchase<200:
        dis = purchase-(purchase*0.2)
        print("Purchasing Price is", purchase, "Discount offered is 20%.Discounted Price is", dis)
    elif purchase<300:
        dis = purchase-(purchase*0.3)
        print("Purchasing Price is", purchase, "Discount offered is 30%.Discounted Price is", dis)
    elif purchase<400:
        dis = purchase-(purchase*0.4)
        print("Purchasing Price is", purchase, "Discount offered is 40%.Discounted Price is", dis)
    else:
        print("Hurray!!You win a GIFT HAMPER!!!")

Purchasing Price is 60 Discount offered is 10%.Discounted Price is 54.0
Purchasing Price is 100 Discount offered is 10%.Discounted Price is 90.0
Purchasing Price is 166 Discount offered is 20%.Discounted Price is 132.8
Purchasing Price is 217 Discount offered is 30%.Discounted Price is 151.9
Purchasing Price is 378 Discount offered is 40%.Discounted Price is 226.79999999999998
Hurray!!You win a GIFT HAMPER!!!


27. Develop a program to calculate the electricity bill based on different consumption slabs using elif
statements.

In [ ]:
1 to 100 units – Rs. 10/unit
101 to 200 units – Rs. 15/unit
201 to 300 units – Rs. 20/unit
above 300 units – Rs. 25/unit

In [233]:
units = [0,90,145,245,345]

In [234]:
for unit in units:
    if unit<= 100:
        bill = unit*10
        print("units comsumed:",unit,"electricity bill:",bill,"rs")
    elif 100 < unit <=200:
        bill = 100*10 +(unit-100)*15
        print("units comsumed:",unit,"electricity bill:",bill,"rs")
    elif 200 < unit <=300:
        bill = 100*10 +100*15+(unit-100)*20
        print("units comsumed:",unit,"electricity bill:",bill,"rs")
    elif  unit >=300:
        bill = 100*10 +100*15+100*20+(unit-100)*25
        print("units comsumed:",unit,"electricity bill:",bill,"rs")

units comsumed: 0 electricity bill: 0 rs
units comsumed: 90 electricity bill: 900 rs
units comsumed: 145 electricity bill: 1675 rs
units comsumed: 245 electricity bill: 5400 rs
units comsumed: 345 electricity bill: 10625 rs


28. Create a program to determine the type of quadrilateral based on its angles and sides using elif
statements.

Quadrilateral Types:
Trapezium -
Parallelogram-           oposite sides are equal
Rectangle- angles 90 and opposite sides equal
Rhombus             all sides equal
Square- angels 90, all sides equal
Kite -            adjecent sides are equal

angles = a,bc,d
sides = s1,s2,s3,s4

In [270]:
def quadrilateral(a,b,c,d, s1,s2,s3,s4):
    if a+b+c+d == 360:
        #print("It is a quadrilateral")
        
        if (s1==s2==s3==s4): #all sides are equal 
            if (a==b==c==d): #all angles are equal
                print("it is a square")
            else:
                print("it is a Rhombus")
        
        
        elif (s1==s3 and s2==s4): #opposite sides are equal
            if (a==b==c==d): #all angles are equal
                print("it is a Rectangle")
            else:
                print("it is a Parallelogram")
        
        elif (s1==s2 and s3== s4) or (s1==s4 and s2==s3):
            print("it is a Kite")
        
        
        else:
            print("it is a trapezium")
    
    else:
        print("not a quadrilateral")

In [271]:
quadrilateral(30,60,90,180,3,5,3,5)

it is a Parallelogram

In [272]:
quadrilateral(90,90,90,90,3,5,3,5)

it is a Rectangle

In [273]:
quadrilateral(90,90,90,90,3,1,3,3)

it is a trapezium

In [274]:
quadrilateral(30,60,60,180,3,5,3,5)

not a quadrilateral

In [275]:
quadrilateral(30,150,150,30,3,3,5,5)

it is a Kite


29. Write a Python script to determine the season based on a user-provided month using elif statements.

 Dec,Jan, Feb: 'WINTER',
mar, april,may:"spring"
June, july, aug : "summer"  
 sept,oct,nov ="fall"

In [286]:
months = ["jan","mar","may","aug","sept"]

In [287]:
def season(month):
    if month in ["dec","jan","feb"]:
        print(month,"WINTER")
    elif month in ["mar","apr","may"]:
        print(month,"SPRING")
    elif month in ["jun","july","aug"]:
        print(month,"SUMMER")
    elif month in ["sept","oct","nov"]:
        print(month,"FALL")
    else:
        print(month,"Enter a valid month")

In [288]:
for month in months:
    season(month)

jan WINTER
mar SPRING
may SPRING
aug SUMMER
sept FALL
june Enter a valid month


30. Implement a program to determine the type of a year (leap or common) and month (30 or 31 days) using
elif statements.

In [ ]:
#A leap year is exactly divisible by 4 except for century years (years ending with 00). 
#The century year is a leap year only if it is perfectly divisible by 400.

In [51]:
def leap_month(year, month):
    if((month==2) and (year%400 ==0 or year%100 !=0 and year%4 ==0)) :
        print(year,"It is a leap year.February has 29 days");

    elif (month ==2):
        print("It is not a leap year.February has 29 days");

    elif(month==1 or month==3 or month==5 or month==7 or month==8 or month==10 or month==12) :
        print("Number of days in a month is 31");

    elif (month==4 or month==6 or month==9 or month==11):
        print("Number of days in a month is 30");

In [54]:
leap_month(2000,2)

2000 It is a leap year.February has 29 days

In [55]:
leap_month(1700,3)

Number of days in a month is 31

# Basic Level:



1. Write a Python program that checks if a given number is positive, negative, or zero.

In [294]:
def check(num):
    if num > 0:
        return num, "is Positive"
    elif num <0:
        return num, "is Negative"
    else:
        return "Num is Zero"

In [296]:
for num in [9,0,-1]:
    print(check(num))

(9, 'is Positive')
Num is Zero
(-1, 'is Negative')


2. Create a program to determine if a person is eligible to vote based on their age.

In [299]:
def vote(age):
    if age > 18:
        print(age,"person is eligible to vote")
    else:
        print(age,"person isnt eligible to vote")

In [300]:
for a in [10, 20,40]:
    vote(a)

10 person isnt eligible to vote
20 person is eligible to vote
40 person is eligible to vote


3. Write a program to find the maximum of two given numbers using conditional statements.

In [317]:
def maximum(num1,num2):
    if num1 >num2:
        return num1,num2, "Maximum is",num1
    elif num2>num1:
        return num1, num2, "Maximum is",num2
    else:
        return num1,"and",num2, "are equal"

In [320]:
for i in [4,5,1]:
    for j in [10,40,1]:
        print(maximum(i,j))

(4, 10, 'Maximum is', 10)
(4, 40, 'Maximum is', 40)
(4, 1, 'Maximum is', 4)
(5, 10, 'Maximum is', 10)
(5, 40, 'Maximum is', 40)
(5, 1, 'Maximum is', 5)
(1, 10, 'Maximum is', 10)
(1, 40, 'Maximum is', 40)
(1, 'and', 1, 'are equal')


4. Develop a program that calculates the grade of a student based on their exam score.

91 to 100   A
81 to 90	B
71 to 80	C
61 to 70	D
Below 60	E

In [322]:
def grade(marks):
    if 90 < marks <=100:
        print("Marks received is:",marks,"Grade received is A")
    elif (81<= marks<=90):
        print("Marks received is:",marks,"Grade received is B")
    elif (71<= marks<=80):
        print("Marks received is:",marks,"Grade received is C")
    elif (61<= marks<=70):
        print("Marks received is:",marks,"Grade received is D")
    elif (marks<60):
        print("Marks received is:",marks,"Grade received is E")
    else:
        print(marks,":invalid marks!!!")

In [323]:
mark =[71,61,100,70,36,108,84]
for marks in mark:
    grade(marks)

Marks received is: 71 Grade received is C
Marks received is: 61 Grade received is D
Marks received is: 100 Grade received is A
Marks received is: 70 Grade received is D
Marks received is: 36 Grade received is E
108 :invalid marks!!!
Marks received is: 84 Grade received is B


5. Create a program that checks if a year is a leap year or not.


#A leap year is exactly divisible by 4 except for century years (years ending with 00). 
#The century year is a leap year only if it is perfectly divisible by 400.

In [321]:
years = [1900,2017,2012,2014,1016,2000]
for year in years:
    if (year % 100 ==0 and year % 400== 0):#century year is a leap year
        print(year,"is a Leap Year")
    elif (year % 100 !=0 and year % 4 ==0):#non century year  is a leap year
        print(year, "is a Leap Year")
    else:
        print(year,"is Not a Leap Year")

1900 is Not a Leap Year
2017 is Not a Leap Year
2012 is a Leap Year
2014 is Not a Leap Year
1016 is a Leap Year
2000 is a Leap Year


6. Write a program to classify a triangle based on its sides' lengths.

In [332]:
def triangle(a,b,c):
    if (a==b==c):
        print("Sides are:",a,b,c,"Equilaterial")
    elif(a==b or b==c or c==a):
        print("Sides are:",a,b,c,"Isosceles")
    else:
        print("Sides are:",a,b,c,"Scalene")

In [347]:
for i in range(1,5):
    for j in range(1,3):
        for k in range(1,3):
            triangle(i,j,k)

Sides are: 1 1 1 Equilaterial
Sides are: 1 1 2 Isosceles
Sides are: 1 2 1 Isosceles
Sides are: 1 2 2 Isosceles
Sides are: 2 1 1 Isosceles
Sides are: 2 1 2 Isosceles
Sides are: 2 2 1 Isosceles
Sides are: 2 2 2 Equilaterial
Sides are: 3 1 1 Isosceles
Sides are: 3 1 2 Scalene
Sides are: 3 2 1 Scalene
Sides are: 3 2 2 Isosceles
Sides are: 4 1 1 Isosceles
Sides are: 4 1 2 Scalene
Sides are: 4 2 1 Scalene
Sides are: 4 2 2 Isosceles


7. Build a program that determines the largest of three given numbers.

In [353]:
def largest(a,b,c):
    if (a> b and a>c):
        print(a,b,c,"The largest is:", a)
    elif(b>a and b>c):
        print(a,b,c,"The largest is:", b)
    elif(c>a and c>b):
        print(a,b,c,"The largest is:", c)
    else:
        print(a,b,c,"numbers are equal")

In [354]:
for a in range(1,5):
    for b in range(1,3):
        for c in range(1,3):
            largest(a,b,c)

1 1 1 numbers are equal
1 1 2 The largest is: 2
1 2 1 The largest is: 2
1 2 2 numbers are equal
2 1 1 The largest is: 2
2 1 2 numbers are equal
2 2 1 numbers are equal
2 2 2 numbers are equal
3 1 1 The largest is: 3
3 1 2 The largest is: 3
3 2 1 The largest is: 3
3 2 2 The largest is: 3
4 1 1 The largest is: 4
4 1 2 The largest is: 4
4 2 1 The largest is: 4
4 2 2 The largest is: 4


8. Develop a program that checks whether a character is a vowel or a consonant.

In [358]:
def check(x):
    if x in "aeiouAEIOU":
        return x,"It is a Vowel"
    else:
        return x,"It is a Consonant"

In [362]:
for i in "UKrAntiW":
    print(check(i))

('U', 'It is a Vowel')
('K', 'It is a Consonant')
('r', 'It is a Consonant')
('A', 'It is a Vowel')
('n', 'It is a Consonant')
('t', 'It is a Consonant')
('i', 'It is a Vowel')
('W', 'It is a Consonant')


9. Create a program to calculate the total cost of a shopping cart based on discounts.

If purchase>100 -- 10% discount is applied
If purchase>200 -- 20% discount is applied
If purchase>300 -- 30% discount is applied
If purchase>400 -- 40% discount is applied
If purchase>500 -- gift hanper

In [376]:
discounted_prices =[]
purchases =[60,100,166,217,378,400, 700]
for purchase in purchases:
    if 50<purchase <= 100:
        dis = purchase-(purchase*0.1)
        discounted_prices.append(dis)
    elif purchase<200:
        dis = purchase-(purchase*0.2)
        discounted_prices.append(dis)
        
    elif purchase<300:
        dis = purchase-(purchase*0.3)
        discounted_prices.append(dis)
        
    elif purchase<=400:
        dis = purchase-(purchase*0.4)
        discounted_prices.append(dis)
        
    else:
        print("Cashback of 200")
        discounted_prices.append(-200)

discounted_prices

Cashback of 200

[54.0, 90.0, 132.8, 151.9, 226.79999999999998, 240.0, -200]

In [378]:
total_cost= sum([i for i in discounted_prices])
total_cost

695.5


10. Write a program that checks if a given number is even or odd.

In [365]:
def even_odd(num):
    if num %2 == 0:
        return num, "is even"
    else:
        return num, "is Odd"

In [367]:
for i in range(4,14):
    print(even_odd(i))

(4, 'is even')
(5, 'is Odd')
(6, 'is even')
(7, 'is Odd')
(8, 'is even')
(9, 'is Odd')
(10, 'is even')
(11, 'is Odd')
(12, 'is even')
(13, 'is Odd')

# Intermediate Level:


11. Write a program that calculates the roots of a quadratic equation .

12. Create a program that determines the day of the week based on the day number (1-7).

In [386]:
def week(day):
    if day ==1:
        return day,"Monday"
    elif day ==2:
        return day,"Tuesday"
    elif day ==3:
        return day,"Wednesday"
    elif day ==4:
        return day,"Thursday"
    elif day ==5:
        return day,"Friday"
    elif day ==6:
        return day,"Saturday"
    elif day ==7:
        return day,"Sunday"
    else:
        return day,"Number Out Of Range(1-7)"

In [387]:
for i in [5,7,0,1,4]:
    print(week(i))

(5, 'Friday')
(7, 'Sunday')
(0, 'Number Out Of Range(1-7)')
(1, 'Monday')
(4, 'Thursday')

13. Develop a program that calculates the factorial of a given number using recursion.

In [137]:
def factorial(num):
    if num ==1 or num ==0:
        return 1
    else:
        return (num * factorial(num-1))

In [138]:
factorial(5)

120


14. Write a program to find the largest among three numbers without using the `max()` function.

In [264]:
num1, num2, num3 = 1,5,2

In [265]:
if num1> num2 and num1> num3:
    print(num1, "is the largest")
elif num2> num1 and num2> num3:
    print(num2, "is the largest")
else:
    print(num3, "is the largest")

5 is the largest


15. Create a program that simulates a basic ATM transaction menu.

In [2]:
trials = 4
userpin = 1234



while trials !=0:
    pin = int(input("Enter the 4 digit pin:"))   
    if userpin !=pin:
        trials = trials -1
        print("Wrong Pin entered",trials, "trails left")
    else:
        print("Welcome to MYBANK ATM!!!!!!")
        break

Enter the 4 digit pin:3456
Wrong Pin entered 3 trails left
Enter the 4 digit pin:5678
Wrong Pin entered 2 trails left
Enter the 4 digit pin:1234
Welcome to MYBANK ATM!!!!!!


16. Build a program that checks if a given string is a palindrome or not.

In [11]:
strings = ["madam", "cool", "poyop","look"]

In [18]:
def palindrome(string):
    if list(string[::-1]) == list(string):
        return string, "is Palindrome"
    else:
        return string, "isNt Palindrome"

In [19]:
for string in strings:
    print(palindrome(string))

('madam', 'is Palindrome')
('cool', 'isNt Palindrome')
('poyop', 'is Palindrome')
('look', 'isNt Palindrome')


17. Write a program that calculates the average of a list of numbers, excluding the smallest and largest values.

In [38]:
list1 = [i for i in range(3,25,3)]
list1

[3, 6, 9, 12, 15, 18, 21, 24]

In [45]:
list2 = [i for i in range(-10,11,2)]
list2

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10]

In [46]:
def average(listx):
    small = min(listx)
    large = max(listx)
    
    listx.remove(small)
    listx.remove(large)
    
    sumx =sum([i for i in listx])
    length = len(listx)
    
    average = sumx/length
    
    return average

In [47]:
average(list1)

13.5

In [48]:
average(list2)

0.0


18. Develop a program that converts a given temperature from Celsius to Fahrenheit.

In [56]:
farenheit = [32, 100,94, 95, 96,97,98,99, 100]
for i in farenheit:
    print("The Farenheit temperature of",i, "is :",(i-32)*(5/9))

The Farenheit temperature of 32 is : 0.0
The Farenheit temperature of 100 is : 37.77777777777778
The Farenheit temperature of 94 is : 34.44444444444444
The Farenheit temperature of 95 is : 35.0
The Farenheit temperature of 96 is : 35.55555555555556
The Farenheit temperature of 97 is : 36.111111111111114
The Farenheit temperature of 98 is : 36.66666666666667
The Farenheit temperature of 99 is : 37.22222222222222
The Farenheit temperature of 100 is : 37.77777777777778


19. Create a program that simulates a basic calculator for addition, subtraction, multiplication, and division.

In [164]:

def addition(num1,num2):
    return num1+num2

def substraction(num1,num2):
    return num1-num2

def multiply(num1,num2):
    return num1*num2

def division(num1,num2):
    return num1/num2

In [165]:
addition(5,10)

15

In [166]:
substraction(10,100)

-90

In [168]:
division(10,100)

0.1




20. Write a program that determines the roots of a cubic equation using the Carda

# Advanced Level:


21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [53]:
list3 = [i for i in range(-8, 10)]
list3

[-8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
sum([i for i in list3])

9

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

factors of 10 :1,2,5,10
factors of 20: 1,2,4,5,10,20
factors of 15 : 1,3,5,15
factors of 18: 1,3,6,9,18

In [152]:
def factors(num):
    return "factors of", num, "are:", [i for i in range(1,num+1) if num%i ==0]

In [154]:
for i in [20,48,100,72,18,15,88]:
    print(factors(i))

('factors of', 20, 'are:', [1, 2, 4, 5, 10, 20])
('factors of', 48, 'are:', [1, 2, 3, 4, 6, 8, 12, 16, 24, 48])
('factors of', 100, 'are:', [1, 2, 4, 5, 10, 20, 25, 50, 100])
('factors of', 72, 'are:', [1, 2, 3, 4, 6, 8, 9, 12, 18, 24, 36, 72])
('factors of', 18, 'are:', [1, 2, 3, 6, 9, 18])
('factors of', 15, 'are:', [1, 3, 5, 15])
('factors of', 88, 'are:', [1, 2, 4, 8, 11, 22, 44, 88])

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [66]:
list2

[-8, -6, -4, -2, 0, 2, 4, 6, 8]

In [75]:
list4 = [1,7,0,1,6,7,7,7,1,2,3,4,5,0,4,6,2,3,2,3]

In [82]:
def unique(listx):
    unique_list =[]
    for i in listx:
        if i not in unique_list:
            unique_list.append(i)
    return unique_list

In [161]:
unique(list4)

[1, 7, 0, 6, 2, 3, 4, 5]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [87]:
def palindrome(limit):
    palindromic_list =[]
    for i in range(11, limit+1):
        if str(i) == str(i)[::-1] :
            palindromic_list.append(i)
    return palindromic_list

In [88]:
palindrome(100)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [90]:
print(palindrome(1000))

[11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]


25. Write a program to flatten a nested list using list comprehension.

In [91]:
nest_list =[[1,2],[3,4,5],[6,7,8],[9]]

In [92]:
[i for sub in nest_list for i in sub]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [96]:
list5 =[i for i in range(5,16)]
list5

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [103]:
def sum_even_odd(listx):
    even_list = sum([i for i in listx if i%2 ==0])
    odd_sum = sum([i for i in listx if i%2 !=0])   
    return "sum of even numbers is:",even_list, "sum of odd numbers is:",odd_sum

In [104]:
sum_even_odd(list5)

('sum of even numbers is:', 50, 'sum of odd numbers is:', 60)

In [108]:
list4

[1, 7, 0, 1, 6, 7, 7, 7, 1, 2, 3, 4, 5, 0, 4, 6, 2, 3, 2, 3]

In [109]:
sum_even_odd(list4)

('sum of even numbers is:', 26, 'sum of odd numbers is:', 45)

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [111]:
[i**2 for i in range(1,10) if i%2 !=0]

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [117]:
list1 =["one","two","three","four","five"]
list2 =[1,2,3,4]

In [118]:
{list1[i]:list2[i] for i in range(0, len(list2))}

{'one': 1, 'two': 2, 'three': 3, 'four': 4}


29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [127]:
string1= "YoUAReSpecial"

In [129]:
vowel_list =[i for i in string1 if i in "aeiouAEIOU"]
vowel_list

['o', 'U', 'A', 'e', 'e', 'i', 'a']


30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [130]:
list1 = ['4geeks', '3for', '4geeks']

In [ ]:
list2 = [''.join(x for x in i if x.isalpha()) for i in list1]

In [135]:
["".join(x for x in string if x.isalpha())for string in list1]

['geeks', 'for', 'geeks']

# Challenge Level:



31. Create a program that validates a password based on complexity rules (length, characters, etc.).


32. Develop a program that performs matrix addition and subtraction based on user input.


33. Write a program that calculates the greatest common divisor (GCD) of two numbers using the Euclidean
algorithm.

In [251]:
num1 =72
num2 =108

In [259]:
gcd =[]
small = min(num1,num2)
for i in range(1,small+1):
    if num1% i == 0 and num2%i ==0:
        gcd.append(i)
gcd[-1]

36


34. Build a program that performs matrix multiplication using nested loops and conditional statements.


35. Create a program that simulates a basic text-based tic-tac-toe game against the computer.


36. Write a program that generates Fibonacci numbers up to a specified term using iterative methods.

Fibonacci numbers are: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181.

In [201]:
a = 0
b = 1
terms =10
print(a,b,end=" ")
while(terms-2):
    c = a+b
    a,b = b,c
    print(c,end=" ")
    terms =terms-1

0 1 1 2 3 5 8 13 21 34


37. Develop a program that calculates the nth term of the Fibonacci sequence using memoization.

In [247]:
def term(n):
    fibonacci_list =[0,1]
    a = 0
    b =1
    for i in range(1,14):
        c = a+b
        fibonacci_list.append(c)
        a =b
        b =c
    #return fibonacci_list
    return "The",n,"th term in fibonacci series is:",fibonacci_list[n-1]

In [248]:
term(7)

('The', 7, 'th term in fibonacci series is:', 8)

In [249]:
term(3)

('The', 3, 'th term in fibonacci series is:', 1)


38. Create a program that generates a calendar for a given month and year using conditional statements.


39. Build a program that simulates a basic text-based blackjack game against the computer.


40. Write a program that generates the prime factors of a given number using trial division.